/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	clear: both;
	overflow: hidden;
	padding-top: 5px;
    padding-bottom: 28px;
	border-top: 1px solid #eaeaea;

	@media (max-width: 780px) {
		text-align: center;
		background-color: #000;
	}

	.copy-box {
		color: #fff;
		line-height: 58px;
	}

	.dev-box {
		&--list {
			text-align: right;

			@media (max-width: 780px) {
				text-align: center;
			}

			&--item {
				margin-right: 10px;
				display: inline-block;
				vertical-align: middle;
	
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}